.player {
  border: 2px solid rgb(216, 207, 207);

  padding: 10px;
  border-radius: 5px;
}
.player img {
  border-radius: 5px;
  width: 100%;
}

.card-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

.flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.india {
  display: flex;
  gap: 10px;
  align-items: center;
}

.all-btn {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.left-bat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-bat p {
  color: rgb(194, 188, 188);
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price button {
  border: 1px solid rgb(196, 187, 187);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}
